{% comment %}
** Image with text overlay - homepage partial **
- Draggable section
{% endcomment %}

{% assign default = '1400x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '2000x' %}

<div >
<div class="container">
  <section id="banner-{{section.id}}" class="banner home-page-banner ez-animate" data-handle="{{block.settings.title | handleize}}" data-animation="fadeInUp" data-animation-offset="80%">
  {% if block.settings.image != nil %}
    <img  src="{{ block.settings.image | img_url: '100x', format: 'pjpg' }}"
          alt="{{ block.settings.image.alt | escape }}"
          class="lazyload {{ block.image_loading_style }}"
          sizes="100vw"
          data-src="{{ block.settings.image | img_url: '1900x', format: 'pjpg' }}"
          srcset="
          {{ block.settings.image | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
          {{ block.settings.image | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}}"
 

           />
  {% else %}
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
  {% endif %}
  {% unless block.settings.button1_link != blank and block.settings.button2_link != blank %}
    {% if block.settings.button1_link != blank %}
      <a href="{{ block.settings.button1_link }}" class="banner-full-link">
        {{ block.settings.button1 }}
      </a>
    {% endif %}
    {% if block.settings.button2_link != blank %}
      <a href="{{ block.settings.button2_link }}" class="banner-full-link">
        {{ block.settings.button2 }}
      </a>
    {% endif %}
  {% endunless %}
  {% unless block.settings.pretext == blank and block.settings.title == blank and block.settings.subtitle == blank and block.settings.button1 == blank and block.settings.button2 == blank %}
    <div class="position-{{ block.settings.text_position }} caption js-caption">
      <div class="caption-content  caption-background-{{ block.settings.caption_background }} caption-transparency-{{ block.settings.caption_background_transparency }} align-{{ block.settings.text_align }}">
        {% if block.settings.pretext != blank %}
          <div class="pretext">
            {{ block.settings.pretext }}
          </div>
        {% endif %}
        {% if block.settings.title != blank %}
          <h1 class="headline">
            {{ block.settings.title }}
          </h1>
        {% endif %}
        {% if block.settings.subtitle != blank %}
          <div class="subtitle">
            {{ block.settings.subtitle }}
          </div>
        {% endif %}
        {% if block.settings.button1 != blank %}
          <a {% if block.settings.button1_link != blank %}href="{{ block.settings.button1_link }}"{% endif %} class="action_button first_button highlight-{{ block.settings.button1_highlight }}">
            {{ block.settings.button1 }}
          </a>
        {% endif %}
        {% if block.settings.button2 != blank %}
          <a {% if block.settings.button2_link != blank %}href="{{ block.settings.button2_link }}"{% endif %} class="action_button second_button highlight-{{ block.settings.button2_highlight }}">
            {{ block.settings.button2 }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endunless %}
  
</section>
  </div>
</div>
<style>
  
  @media screen and (max-width:768px){
    .caption .headline{
      text-align:left !important;
    }
  }
</style>