
{% for link in linklists[mobile-menu].links %}
  {% if linklists[link.handle] == empty %}
    <li data-mobile-dropdown-rel="{{ link.handle }}">
      {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}

        <a data-no-instant href="{{ link.url }}" {% if link.title contains "Wholesale" %} target="_blank" {% endif %} class=" parent-link--false">
          {{ link.title }}
        </a>

      {% else %}
      {% if link.handle == "get-10-free" %}
        <a data-no-instant href="{{ link.url }}" class="standout-me parent-link--true" {% if link.title contains "Wholesale" %} target="_blank" {% endif %}>
          {{ link.title }}
        </a>
      {%else%}
       <a data-no-instant href="{{ link.url }}" class="parent-link--true" {% if link.title contains "Wholesale" %} target="_blank" {% endif %}>
          {{ link.title }}
        </a>
      {%endif%}
      {% endif %}
    </li>
  {% else %}
    <li data-mobile-dropdown-rel="{{ link.handle }}" class="sublink">
      {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--false" {% if link.title contains "Wholesale" %} target="_blank" {% endif %}>
          {{ link.title }} <span class="right icon-right-arrow"></span>
        </a>
      {% else %}
        <a data-no-instant href="{{ link.url }}" class="parent-link--true" {% if link.title contains "Wholesale" %} target="_blank" {% endif %}>
          {{ link.title }} <span class="right icon-right-arrow"></span>
        </a>
      {% endif %}
      <ul>
        {% for link in linklists[link.handle].links %}
          {% if linklists[link.handle] == empty %}
            <li><a href="{{ link.url }}" {% if link.title contains "Wholesale" %} target="_blank" {% endif %}>{{ link.title }}</a></li>
          {% else %}
            <li class="sublink">
              {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                <a data-no-instant href="{{ link.url }}" class="parent-link--false" {% if link.title contains "Wholesale" %} target="_blank" {% endif %}>
                  {{ link.title }} <span class="right icon-right-arrow"></span>
                </a>
              {% else %}
                <a data-no-instant href="{{ link.url }}" class="parent-link--true" {% if link.title contains "Wholesale" %} target="_blank" {% endif %}>
                  {{ link.title }} <span class="right icon-right-arrow"></span>
                </a>
              {% endif %}
              <ul>
                {% for link in linklists[link.handle].links %}
                  <li><a href="{{ link.url }}" {% if link.title contains "Wholesale" %} target="_blank" {% endif %}>{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}