{% comment %}
** Footer - default view **
- Static section
- Uses blocks
{% endcomment %}

<footer class="footer">
  <span class="footer-popcorn-box" ></span>
   <a class="popcorn-key" ><img src="https://cdn.shopify.com/s/files/1/1354/3525/files/key-logo.png?v=1594643542" width="37" alt="Popcorn Shed" /></a>
  <div class="container footer-menu-wrap flex-container">
    <div class="row">
      {% for block in section.blocks %}
    
    {% if block.type != 'custom_newsletter_section' %}    
        <div class="{% if forloop.length >= 5 %}three columns{% elsif forloop.length == 4 %}four columns{% elsif forloop.length == 3 %}one-third column{% elsif forloop.length == 2 %}eight columns{% endif %}" {{ block.shopify_attributes }}>
          {% if block.type == 'logo' %}
            <div class="text-align--{{block.settings.text_align}}">
              {% if block.settings.image %}
                <img  src="{{ block.settings.image | img_url: '500x' }}"
                      alt="{{ block.settings.image.alt | escape }}Popcorn Shed"
                      class="footer-logo lazyload {{ settings.image_loading_style }}"
                      data-sizes="25vw"
                      style="max-width: {{- block.settings.image.width -}}px"
                      data-src="{{ block.settings.image | img_url: '2048x' }}"
                      data-srcset="{{ block.settings.image | img_url: '400x' }} 400w,
                                    {{ block.settings.image | img_url: '500x' }} 500w,
                                    {{ block.settings.image | img_url: '600x' }} 600w,
                                    {{ block.settings.image | img_url: '1000x' }} 1000w"
                   />
              <div class="footer-social-icons mobile_only">
                {% include 'social-icons' %}
              </div>
              {% else %}
                <div class="logo">{{ shop.name }}</div>
              {% endif %}
            </div>

          {% elsif block.type == 'link_list' %}
            <div class="footer_menu flex-footer-menu">
              {% if block.settings.menu != blank %}
		<!--  <span class="right icon-down-arrow"></span> -->
		<!--  add .toggle_content to enable toggle ul li  -->
                <h6>{{ linklists[block.settings.menu].title }}</h6>
                <div class="">
                  <ul>
                    {% for link in linklists[block.settings.menu].links %}
                      {% if link.url contains 'get-10-free'%}
                      	<li><a href="{{ link.url }}" class="friendbuy-trigger">{{ link.title }}</a></li>
                      {% else%}
                      	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                <h6>Menu title<span class="right icon-down-arrow"></span></h6>
                <div class="">
                  <ul>
                    <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
                  </ul>
                </div>
              {% endif %}
            </div>

          {% elsif block.type == 'text' %}
            <div class="footer_content">
              {% if block.settings.title != blank %}
                <h6>{{ block.settings.title }}<span class="right "></span></h6>
                <div class="footer-title">
                  {{ block.settings.content }}
                </div>
              {% endif %}
            </div>
          {% elsif block.type == 'page' %}
            <div class="footer_content">
              {% if block.settings.page != blank %}
                <h6>{{ pages[block.settings.page].title }}<span class="right "></span></h6>
                <div class="">
                  {{ pages[block.settings.page].content }}
                </div>
              {% else %}
                <h6>Page title<span class="right "></span></h6>
                <div class="">
                  <p>{{ 'homepage.onboarding.no_content' | t }}</p>
                </div>
              {% endif %}
            </div>

          {% elsif block.type == 'html' %}
            {% comment %}@TODO - Add HTML section for maps, widgets, embedding, etc{% endcomment %}

          {% elsif block.type == 'empty' %}
            <div class="empty-column"></div>			
          {% endif %}

          {% assign social_media_column = section.settings.social_media_column | plus: 0  %}

          {% if block.settings.social_icons_footer %}
            {% assign social_icons = true %}
            <div class="footer-social-icons ">
              {% include 'social-icons' %}
            </div>
          {% endif %}

        </div>
    
    {% elsif  block.type == 'custom_newsletter_section' %}
    	
    <div class="four columns">
      <!-- Custom Newsletter section-->     
		{% if section.settings.display_newsletter == true %}
      <div class="custom_newsletter_section
                  {% if block.settings.footer_display_first_name and block.settings.footer_display_last_name %}newsletter-both-names--true {% else %}newsletter-both-names--false {% endif %}
                  {% if block.settings.footer_image != nil %}newsletter-bgr-true{% endif %}
                  text-align--{{block.settings.footer_newsletter_section_text_align}}
                  lazyload
                  {{ block.image_loading_style }}"
           {% if block.settings.footer_image != nil %}style="background-image: url(https:{{ block.settings.footer_image | img_url: '1600x'}})"{% endif %}>            
        <div class="{% if block.settings.footer_newsletter_section_text_align == "center" %}{% elsif block.settings.footer_newsletter_section_text_align == "right" %} {% endif %} section_form pd-0">
          {% if block.settings.footer_newsletter_title != blank %}
          <h4 class="title pd-0">{{ block.settings.footer_newsletter_title }}</h4>
          {% endif %}
          {% if block.settings.footer_newsletter_text != blank %} 
          <div class="newsletter-text">{{ block.settings.footer_newsletter_text }}</div>
          {% endif %}                
          <div class="newsletter">
            <span class="message"></span>
            {% if settings.mailchimp_link != blank %}
            <form class="mc-embedded-subscribe-form" action="{{ settings.mailchimp_link }}" method="post" name="mc-embedded-subscribe-form" id="newsletter_footer">
              {% if block.settings.footer_display_first_name %}
              
              {% endif %}
              {% if block.settings.footer_display_last_name %}
              <input type="text" value="" name="LNAME" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}">
              {% endif %}
              <input type="email" value="" name="EMAIL" class="newsletter_contact_email" placeholder="{{ 'general.newsletter_form.placeholder' | t }}">
              <input type="text" value="" class="firstName newsletter_contact_email" name="FNAME" placeholder="Name">
              <input type='submit' class="newsletter_action_button sign_up" value="" />
<!--              <div class="gender">
                  <select>
                    <option value="#">Gender</option>
                    <option Value="male">Male</option>
                    <option Value="female">Female</option>
                  </select>
              </div> -->
            </form>
            <div id="mc_embed_signup">
              <div class="mce-error-response"></div>
              <div class="mce-success-response"></div>
            </div>
            {% else %}
            {% form 'customer' %}
            {% if form.posted_successfully? %}
            <p><em>{{ 'general.newsletter_form.success_text' | t }}</em></p>
            {% elsif form.errors %}
            {% for field in form.errors %}
            <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
            {% endfor %}
            {% endif %}

            <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
            {% if block.settings.footer_display_first_name %}
            <input type="text" class="firstName" name="contact[first_name]" placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}" />
            {% endif %}
            {% if block.settings.footer_display_last_name %}
            <input type="text" name="contact[last_name]" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}" />
            {% endif %}

            <input type="hidden" name="challenge" value="false" />
            <input type="email" class="newsletter_contact_email" name="contact[email]" required placeholder="{{ 'general.newsletter_form.placeholder' | t }}" />
          
            <input type='submit' class="newsletter_action_button sign_up" value="" />
            {% endform %}
            {% endif %}
          </div>              
        </div>
      </div>
      {% else %}
      <div class=" section_form pd-0 footer-content"> 
        <h4 class="title pd-0">{{ section.settings.footer_offer_title | upcase}}</h4> 
        <h5 style="margin: 0 0px;font-size:15px;">{{ section.settings.footer_offer_sub_title}}</h5>
        <input type="button" class="newsletter_action_button sign_up newsletter-cont-btn" value="{{section.settings.footer_offer_button_title | upcase }}">
      </div>
      {% endif %}
      <!--  Custom newsletter section end  -->
        {% assign social_media_column = section.settings.social_media_column | plus: 0  %}

        {% if block.settings.social_icons_footer %}
        {% assign social_icons = true %}
        <div class="footer-social-icons">
          {% if block.settings.footer_social_title != '' %}<h4 class="title"> {{ block.settings.footer_social_title | upcase}}</h4>{% endif %}
          {% include 'social-icons' %}
        </div>
        {% endif %}
    </div>
    {% endif %}
    
        {% if forloop.last and social_icons %}
          <div class="footer-social-icons--mobile sixteen columns mobile_hidden">
            {% include 'social-icons' %}
          </div>
        {% endif %}
      {% endfor %}

      <div class="sixteen columns row footer_credits">
       <!-- <p class="credits">
          &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
          {{ section.settings.copyright_text }}
          {% if section.settings.display_designed_by %}
            {{ 'layout.general.designer_credits_html' | t }}
          {% endif %}
          
        </p> --> 

        {% if section.settings.display_payment_methods %}
          <div class="payment_methods">
            {% for type in shop.enabled_payment_types %}
              <img src="{{ type | payment_type_img_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
            {% endfor %}
          </div>
        {% endif %}
      </div><!--end footer_credits-->
    </div>
	<!--Footer Bottom -->

    </div>
    

</footer>
  {% if section.settings.footer_line1 != blank or section.settings.footer_line2 != blank%}
    <div class="footer-bottom "  style="font-size: 10px;text-align: center; padding: 0 15px;">
      <div class="inner">
        <div class="shopping-detail">
          <p class="copyright mr-0">© {{ "now" | date: "%Y" }} {{ section.settings.footer_line1}} {% if section.settings.privacy_page != blank %} | <a href="{{section.settings.privacy_page_link}}">{{section.settings.privacy_page}}</a>{% endif %} {% if section.settings.terms_page != blank %} | <a href="{{section.settings.terms_page_link}}">{{section.settings.terms_page}}</a>{% endif %}</p>
            <p class="mr-0">{{ section.settings.footer_line2}}</p> <a href="https://www.stalwartdigital.com" target="_blank" style="position: absolute;left: -20000px;">Design and Developed by Stalwart Digital with <span style="color:#03a196;">♥</span></a>
        </div>
      </div>
    </div>
  {%endif%}

<style>
  footer input.newsletter_contact_email[type="email"] {    
    display: block !important; 
    float: none !important;
  
    height: 42px;
    font-family: 'CircularStd';
  
        border: 1px solid #ebeef0;
        transition: 0.2s;
  }
  input.newsletter_contact_email[type="email"]:focus {
        border-color: #202764 ;
}
  .newsletter_action_button.sign_up {
    display: block !important;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
    float: none !important;
    margin-left:0 !important;
  }
  .custom_newsletter_section .newsletter{
    display: block !important;
    padding-top: 0 !important;
    width: 100% !important;
  }
  .custom_newsletter_section {
    -webkit-transform: translate3d(0, 0, 0);
    background-color: transparent;
    color: #000000;
  }
  h4.title{
    font-size:18px;
  }
  .pd-0{
   padding:0 0 !important; 
  }
  .social_icons{
    margin-top:0px !important;
  }
  
</style>

{% schema %}

{
  "name": "Footer",
  "class": "footer-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
    {
      "type": "checkbox",
      "id": "display_designed_by",
      "label": "Show theme designer credits",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_newsletter",
      "label": "Show Newsletter in Footer Section",
      "default": true
    },
    {
      "type": "text",
      "id": "footer_offer_title",
      "label": "Heading",
      "default": "GET 10% OFF ANY ORDER"
    },
    {
      "type": "text",
      "id": "footer_offer_sub_title",
      "label": "Sub Heading",
      "default": "when you join our VIP list!"
    },
    {
      "type": "text",
      "id": "footer_offer_button_title",
      "label": "Button Title",
      "default": "GET 10% OFF ANY ORDER"
    },
	{
      "type": "text",
      "id": "footer_line1",
      "label": "Footer Line 1"      
    },
	{
      "type": "text",
      "id": "privacy_page",
      "label": "Privacy Page Link Title"
    },
	{
      "type": "url",
      "id": "privacy_page_link",
      "label": "Privacy Page URL"
    },
	{
      "type": "text",
      "id": "terms_page",
      "label": "Terms Page Link Title"
    },
	{
      "type": "url",
      "id": "terms_page_link",
      "label": "Terms Page URL"
    },
    {
      "type": "text",
      "id": "footer_line2",
      "label": "Footer Line 2"      
    }
	

  ],
  "blocks": [
	{
        "name": "Newsletter",
  		"type": "custom_newsletter_section",
		"limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "footer_newsletter_title",
            "label": "Heading",
            "default": "Subscribe"
          },
          {
            "type": "richtext",
            "id": "footer_newsletter_text",
            "label": "Subheading",
            "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
          },
          {
            "type": "checkbox",
            "id": "footer_display_first_name",
            "label": "Display first name"
          },
          {
            "type": "checkbox",
            "id": "footer_display_last_name",
            "label": "Display last name"
          },
          {
            "type": "select",
            "id": "footer_newsletter_section_text_align",
            "label": "Text alignment",
            "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          	"default": "center"
          },
          {
            "type": "image_picker",
            "id": "footer_image",
            "label": "Upload banner background image",
            "info":"1600 x 300px recommended"
          },
          {
              "type": "text",
              "id": "footer_social_title",
              "label": "Social Title",
              "default": "LET'S BE FRIENDS"
           },
          {
            "type": "checkbox",
            "id": "social_icons_footer",
            "label": "Show social media footer icons",
            "default": false
          }
        ]
  	},
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Logo alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Content page"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "empty",
      "name": "Empty column",
      "settings": [
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "logo"
      },
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}

{% endschema %}