<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"/>
{% comment %}
** Details page - custom view **
- Page template
- Uses blocks
{% endcomment %}

{% if section.settings.show_banner %}

  {% assign default = '1400x' %}
  {% assign size1 = '480x' %}
  {% assign size2 = '765x' %}
  {% assign size3 = '900x' %}
  {% assign size4 = '1000x' %}
  {% assign size5 = '1100x' %}
  {% assign size6 = '1300x' %}
  {% assign size7 = '1500x' %}
  {% assign size8 = '1700x' %}
  {% assign size9 = '1900x' %}
  {% assign size10 = '2000x' %}
<div class="new_banner_wrapper">
  <div class="container">
    <section id="banner-{{section.id}}" class="banner page_banner mobile-size-banner" {% if section.settings.image != nil %} style="background: url('{{ section.settings.image | img_url: '1900x' }}') no-repeat;background-size: cover;background-position: center top;display: flex;height: 500px;" {% endif %}>
      {% comment %}
      {% if section.settings.image != nil %}
      <img  src="{{ section.settings.image | img_url: '100x', format: 'pjpg' }}"
           alt="{{ section.settings.image.alt | escape }}"
           class="lazyload {{ settings.image_loading_style }}"
           sizes="100vw"
           data-src="{{ section.settings.image | img_url: '1900x', format: 'pjpg' }}"
           srcset="
                   {{ section.settings.image | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
                   {{ section.settings.image | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"

           />
      {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
      {% endif %}
      {% endcomment %}
      {% unless section.settings.button1_link != blank and section.settings.button2_link != blank %}
      {% if section.settings.button1_link != blank %}
      <a href="{{ section.settings.button1_link }}" class="banner-full-link">
        {{ section.settings.button1 }}
      </a>
      {% endif %}
      {% if section.settings.button2_link != blank %}
      <a href="{{ section.settings.button2_link }}" class="banner-full-link">
        {{ section.settings.button2 }}
      </a>
      {% endif %}
      {% endunless %}
      {% unless section.settings.pretext == blank and section.settings.title == blank and section.settings.subtitle == blank and section.settings.button1 == blank and section.settings.button2 == blank %}
      <div class="position-{{ section.settings.text_position }} caption js-caption">
        <div class="caption-content caption-background-{{ section.settings.caption_background }} caption-transparency-{{ section.settings.caption_background_transparency }} align-{{ section.settings.text_align }}">
          {% if section.settings.pretext != blank %}
          <div class="pretext">
            {{ section.settings.pretext }}
          </div>
          {% endif %}
          {% if section.settings.title != blank %}
          <h1 class="headline">
            {{ section.settings.title }}
          </h1>
          {% endif %}
          {% if section.settings.subtitle != blank %}
          <div class="subtitle">
            {{ section.settings.subtitle }}
          </div>
          {% endif %}
          {% if section.settings.button1 != blank %}
          <a {% if section.settings.button1_link != blank %}href="{{ section.settings.button1_link }}"{% endif %} class="action_button first_button highlight-{{ section.settings.button1_highlight }}">
            {{ section.settings.button1 }}
          </a>
          {% endif %}
          {% if section.settings.button2 != blank %}
          <a {% if section.settings.button2_link != blank %}href="{{ section.settings.button2_link }}"{% endif %} class="action_button second_button highlight-{{ section.settings.button2_highlight }}">
            {{ section.settings.button2 }}
          </a>
          {% endif %}
        </div>
      </div>
      {% endunless %}
    </section>
  </div>
</div>
{% endif %}

<a name="pagecontent" id="pagecontent"></a>
<div class="container">
  <div class="sixteen columns text-center">
    <div class="page_title ">
      <h1>{{page.title}}</h1>
    </div>
  </div>
</div>

<div class="image-with-text-list step-section">
  <div class="container">
    {%- if section.blocks.size > 0 -%}
    <div class="row align-center">
      {%- for block in section.blocks -%}
      <div class="four columns banner-bottom-stepsection" {{ block.shopify_attributes }}>
        {%- if block.settings.popcorn_heading != blank -%}
        <h2>{{ block.settings.popcorn_heading }}</h2>
        {%- endif -%}
        {%- if block.settings.popcorn_image != blank -%}
        {{ block.settings.popcorn_image | img_url: '100x100', scale: 2 | img_tag: block.settings.popcorn_image.alt }}
        {%- else -%}
        {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
        {%- if block.settings.popcorn_title != blank -%}
        <h3>{{ block.settings.popcorn_title }}</h3>
        {%- endif -%}
        {%- if block.settings.popcorn_description != blank -%}
        {{ block.settings.popcorn_description }}
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
</div>
{% include 'include-subscription-box' %}

{% schema %}

{
  "name": "Page | Details",
  "class": "popcorn-subscription-box-section",
  "settings": [
	 {
      "type": "header",
      "content": "Bundle Builder warning"
    },
    {
      "type": "text",
      "id": "bundle_warning",
      "label": "Bundle warning"
    },
     {
       "type": "checkbox",
       "id": "show_banner",
       "label": "Show banner",
       "default": true
     },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 1000px recommended"
    },

    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
 
    {
      "type": "checkbox",
      "id": "caption_background",
      "label": "Display solid text background",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "caption_background_transparency",
      "label": "Enable background transparency"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "button1",
      "label": "First button label"
    },
    {
      "type": "url",
      "id": "button1_link",
      "label": "First button link"
    },
    {
      "type": "checkbox",
      "id": "button1_highlight",
      "label": "Highlight first button"
    },
    {
      "type": "text",
      "id": "button2",
      "label": "Second button label"
    },
    {
      "type": "url",
      "id": "button2_link",
      "label": "Second button link"
    },
    {
      "type": "checkbox",
      "id": "button2_highlight",
      "label": "Highlight second button"
    },
	{
      "type": "header",
      "content": "Subscription box settings"
    },
    {
      "type": "collection",
      "id": "subscription_coll",
      "label": "Select Subscription Collection"
    },
	{
      "type": "text",
      "id": "error_text",
      "label": "Error Message"
    },
	{
      "type": "text",
      "id": "discount_code",
      "label": "Discount for the collection"
    },
	{
      "type": "range",
      "id": "max_products",
      "label": "Max Products",
      "step": 1,
      "min": 1,
      "max": 20,
      "default": 9,
      "unit": "pr"
    },
	{
      "type": "url",
      "id": "ingredients_link",
      "label": "Ingredients button Link"
    }
  ],
  "blocks": [
	{
      "type": "image-with-text",
      "name": "Image With Text",
      "settings": [
        {
				"type": "text",
				"id": "popcorn_heading",
				"label": "Heading"
			},
			{
				"type": "image_picker",
				"id": "popcorn_image",
				"label": "Image"
			},
			{
				"type": "text",
				"id": "popcorn_title",
				"label": "Title"
			},
			{
				"type": "richtext",
				"id": "popcorn_description",
				"label": "Description"
			}
      ]
    }
   ],
  "default": {
      "settings": {
      },
      "blocks": [
      ]
    }
}

{% endschema %}
