{% comment %}
** Product - default view **
- Product template
{% endcomment %}
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">

  

<a name="pagecontent" id="pagecontent"></a>
<div class="breadcrumbs">{% render 'preorder-now-collection-item', product: product %}
  <div class="container">
    <!--breadcrumb Div -->
    {% if collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
      <div class="clearfix breadcrumb-collection mr-0">
        {% if collection.previous_product or collection.next_product %}
<!--           <div class="nav_arrows breadcrumb_text">
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link"><span class="icon-left-arrow"> {{ 'products.general.previous_product_html' | t }}</span></a>
            {% endif %}
            {% if collection.previous_product and collection.next_product %}<span class="breadcrumb-divider"> | </span>{% endif %}

            {% if collection.next_product %}
              <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link">{{ 'products.general.next_product_html' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
          </div> -->
        {% endif %}

        {% if section.settings.product_breadcrumb %}
          <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link ">
                <span itemprop="name" class="color_grey">{{ 'general.breadcrumbs.home' | t }}</span>
              </a>
              <meta itemprop="position" content="1" />
            </span>
            <span class="breadcrumb-divider color_grey">/</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              {% if collection %}
                <a href="{{ collection.url }}" itemprop="item" title="{{ collection.title | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name" class="color_grey">{{ collection.title }}</span></a>
              {% else %}
                <a href="/collections/all" title="{{ collections.all.title }}" itemprop="item" class="breadcrumb_link"><span itemprop="name" class="color_grey">{{ collections.all.title }}</span></a>
              {% endif %}
              <meta itemprop="position" content="2" />
            </span>
            <span class="breadcrumb-divider color_grey">/</span>
            <a class="breadcrumbs__current" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <span itemprop="name">{{ product.title }}</span>
              <meta itemprop="position" content="3" />
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}
   
  </div>
</div>

<div class=" main content mobile-product " style="padding-top: 0px;padding-bottom: 0px;"> 
  <div class="product-bg">
    <div class="container-center container">
      <div class="row">

        {% comment %}Check to see if sidebar should be enabled
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}                
        {% if block.type == 'as_seen_text_section' or  block.type == 'image_with_text_overlay' %}
        {% assign sidebar = false %}  
        {% else %}
        {% assign sidebar = true %}
        {% endif %}  
        {% endfor %}    
        {% else %}
        {% assign sidebar = false %}
        {% endif %}
        {% endcomment %}

        <div class="product">
          {% if sidebar %}
          {% include 'sidebar' %}
          <div class="twelve columns">
            {% else %}
            <div class="sixteen columns pro-slider">
              {% endif %}

              <div  class="product-{{ product.id }}"
                   data-free-text="{{ settings.free_price_text }}"
                   >

                <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">
                  
                  
                  {% comment %}
                  <div itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating" itemscope>
                    <meta itemprop="reviewCount" content="{{product.metafields.stamped.reviews_count}}" />
                    <meta itemprop="ratingValue" content="{{ product.metafields.stamped.reviews_average | round:2 }}" />
                  </div>
                  <div itemprop="review" itemtype="http://schema.org/Review" itemscope>
                    <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
                      <meta itemprop="name" content="Popcorn Shed" />
                    </div>
                    <div itemprop="reviewRating" itemtype="http://schema.org/Rating" itemscope>
                      <meta itemprop="ratingValue" content="{{ product.metafields.stamped.reviews_average | round:2 }}" />
                      <meta itemprop="bestRating" content="5" />
                    </div>
                  </div>
                   {% endcomment %}
                  <div class="product-padding {% if sidebar %}seven{% else %}nine{% endif %} columns {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
                    {% if product.metafields.c_f.product_award_detail != blank and product.metafields.c_f.product_award_img !=blank %}
                    <div class="stamp tooltip">
                      <img src="{{ product.metafields.c_f.product_award_img }}" class="stamp-logo" alt="Great Taste" />
                      <div class="bottom">
                         <p>{{ product.metafields.c_f.product_award_detail }}</p>
                        <i></i>
                      </div>
                    </div>
                    {% endif %}
                    {% include 'product-images' %}

                    <div class="product-date-picker mobile_hidden">
                      <form action="/action_page.php">
                        <div class="product-date-text">
                          <h3>When will I receive my order?</h3>
                          <!--           <p>Let us know when your occasion is and we'll give you some specific information on delivery.</p> -->
                        </div>
                        <!--         <input type="text" autocomplete="off" placeholder="When's your occasion?" id="datepicker"> -->
                        <div class="delivery_details">
                          <ul>
                            <li>
                              Our Next Estimated Delivery Date Is: <span class="next_eta_date"></span>
                              <!--               all our popcorn has at least <span class="total_weeks">3 months</span> shelf life when it arrives. -->
                            </li>
                            <li>Choose Expedited Shipping At Checkout For Delivery On: <span class="next_eta_date2"></span></li>
                            <li>
                              Orders Are Dispatched Via Royal Mail Tracked Parcel Service.  Once Your Order Is Dispatched, You Will Receive An E-mail with A Tracking Code So You Can Track Your Order.
                              <!--               Our next estimated delivery date is: <span class="next_eta_date"></span> -->
                            </li>
                            <li>
                              All Our Popcorn Has At Least 3 Months Shelf Life When It Arrives.
                            </li>
                          </ul>
                        </div>
                      </form>	
                    </div>
                   
               
                    <div class="reminder-services">
                      <div class="gift-cart-icon">
                        <img src='https://cdn.shopify.com/s/files/1/1354/3525/files/gift-icon.png?v=1591273345'>
                      </div>
                      <div class="reminder-services-content">
                        <h4>Popcornshed reminder service</h4>
                        <p>Not ready to buy yet? Never forget a gift and <a href="#" data-remodal-target="reminder-popup">let us remind you</a></p>
                      </div>
                    </div>
                    
                    <!-- Button trigger modal -->
                    <div class="remodal reminder-service-popup" data-remodal-id="reminder-popup" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">
                      <button data-remodal-action="close" class="remodal-close"></button>
                      <div class="reminder-form">
                        <h3>{{section.settings.form_name}}</h3>
                        <p>{{section.settings.form_subtitle}}</p>
                        <form action="" method="POST" id="remaindervalidation" autocomplete="off">
                          <div class="reminder-textbox input-group">
                            <input type="hidden" name="token" id="token" value="" />
                            
                            <input type="hidden" name="product_title" id="product_title" value="{{product.title | escape }}" />
                            <input type="hidden" name="product_id" id="product_id" value="{{product.selected_or_first_available_variant.id}}" />
                            <input type="hidden" name="product_image_url" id="product_image_url" value="{{product.featured_image | img_url:"600x"}}" />
                            <input type="hidden" name="product_url" id="product_url" value="{{product.url}}" />
                            
                            <label for="reminder_date">what date would you like an email reminder? (Remember to allow time for delivery?) <span class="required">*</span></label>
                            <div class="datepicker_wrapper">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                              <input type="text" class="form-control" id="reminder_date" name="reminder_date" autocomplete="chrome-off" placeholder="Select Date (DD/MM/YYYY)" />
                            </div>    
                          </div>
                          <div class="reminder-textbox">
                            <label for="name">what's your name <span class="required">*</span></label>
                            <input type="text" name="name" id="name" placeholder="Your Name" autocomplete="" />
                          </div>
                          <div class="reminder-textbox">
                            <label for="email">what's your email <span class="required">*</span></label>
                            <input type="email" name="email" id="email" placeholder="Your Email id"  autocomplete=""/>
                          </div>
                          <div class="reminder-textbox">
                            <label for="message">any message to go in your reminder? <span class="required">*</span></label>
                            <textarea name="messsage" id="message" placeholder="type a message"  ></textarea>
                          </div>
                          <input type= "submit" class="action_button" id="submit_reminder" name="submit_reminder" value="Save Reminder"/> 
                        </form>
                      </div>
                      <div class="thanx-msg" style="display:none">
                        <div class="thanks_wrapper">
                          <h2 class="">That's all taken care of</h2>
                          <p class="">
                            <span>You'll receive your email reminder on</span> <span id="remider_date"></span>. <span>That's a weight off your mind, isn't it?</span>
                          </p>
                        </div>
                      </div>
                    </div>	
                  </div>
                  
                  <div class="{% if sidebar %}five{% else %}seven{% endif %} columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

                    {% assign collection_handles = product.collections | map: 'handle' %}
                    {% assign variant = product.selected_or_first_available_variant %}

                    {% if product.available %}
                    {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
                    <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
                    {% endif %}
                    {% endif %}
                    {% if collection_handles contains 'new' %}
                    <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
                    {% endif %}
                    {% if collection_handles contains 'pre-order' %}
                    <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
                    {% endif %}

                    {% if section.settings.display_vendor %}
                    <p class="vendor">
                      <span itemprop="brand" class="vendor">{{ product.vendor | link_to_vendor }}</span>
                    </p>
                    {% endif %}

                    {% if variant.sku != blank and section.settings.display_sku %}
                    <p class="sku">
                      <span itemprop="sku">{{ variant.sku }}</span>
                    </p>
                    {% endif %}
                    
                     
                    <div class="mobile_hidden">
                      <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
                       {% if collection_handles contains 'coming-soon' %}
                      <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
                      {% else %}
                      <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                        <meta itemprop="seller" content="{{ shop.name | escape }}" />
                        <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
                        <meta itemprop="itemCondition" content="New" />
                        <meta itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" />
                        <meta itemprop="priceValidUntil" content="{{ 'now' | date: '%s' | plus: 31536000 | date: '%Y-%m-%d' | uri_encode | replace:'+','%20' }}" />
                        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
                        

                        <!--               <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span> -->
                        
                        <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                          <span class="current_price ">
                            {% if variant.price > 0 %}
                            <span class="money">{{ variant.price | money }}</span>
                            {% else %}
                            {{ settings.free_price_text }}
                            {% endif %}
                          </span>
                        </span>              

                        <span class="sale savings ">
                          {% if variant.price < variant.compare_at_price  %}
                          <span class="was_price">
                            <span class="money"> {{ variant.compare_at_price | money }}</span>
                          </span>
                          {% endif %}
                          {% if variant.price < variant.compare_at_price  %}
                          <span class="money price-percent-off">({{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% off)</span>
                          {% endif %}
                        </span>
                      </p>
                      
                      
                      {% endif %}
                      
                      {% if product.metafields.stamped.badge != blank and product.metafields.stamped.reviews != blank and product.metafields.stamped.reviews_count != "0" %}
                      <!-- Stamped - Begin Star Rating Badge -->
                      <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
                      <!-- Stamped - End Star Rating Badge -->
                      {% endif %}
                      
                      {% comment %}
                      {% if settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
                      <div >
                        Rated <span >3.5</span>/5
                        based on <span itemprop="reviewCount">11</span> customer reviews
                      </div>
                      
                      <a itemprop="reviewRating" itemscope itemtype="http://schema.org/AggregateRating" href="javascript:;" data-href="#shopify-product-reviews" id="spr-reviews-count">
                        <span class=" stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display:block;">{{ product.metafields.stamped.badge }}</span>
                      </a>
                      
                      {% endif %}
                      {% endcomment %}
                      <span itemprop="sku" style="display:none;">{{variant.sku}}</span>
                      <!--           <div class="feature_divider"></div> -->

                      {% assign product_tags = product.tags | join: ' ' %}
                      {% if product_tags contains 'meta-size-chart-' %}
                      {% for tag in product.tags %}
                      {% if tag contains 'meta-size-chart-' %}
                      <a href="#size-chart{{product.id}}" class="size_chart" data-remodal-target="size-chart{{product.id}}" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                      {% include 'popup-size-chart', product_id: product.id %}
                      {% endif %}
                      {% endfor %}
                      {% elsif settings.size_chart != blank %}
                      <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                      {% endif %}

                                        
                    </div>
                    {% comment %}
                    {% if section.settings.product_description_position == "top" %}
                    {% if product.description != blank %}
                    <div class="description" itemprop="description">
                      {{ product.description | split: '<!-- split -->' | first }}
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endcomment %}

                    {% unless collection_handles contains 'coming-soon' %}                    
                    {% endunless %}
                    {% include 'product-form' with 'product' %}

                    

                    

                    {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
                    <div class="product_links">
                      {% if section.settings.display_collections %}
                      <p>
                        <span class="label">{{ 'products.product.collections' | t }}:</span>
                        <span>
                          {% for col in product.collections %}
                          <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                          {% endfor %}
                        </span>
                      </p>
                      {% endif %}

                      {% if section.settings.display_type %}
                      <p>
                        <span class="label">{{ 'products.product.product_types' | t }}:</span>
                        <span>{{ product.type | link_to_type }}</span>
                      </p>
                      {% endif %}

                      {% if section.settings.display_tags %}
                      <p>
                        {% for tag in product.tags %}
                        {% if forloop.first %}
                        <span class="label">{{ 'products.product.tags' | t }}:</span>
                        {% endif %}

                        {% unless tag contains 'meta-' %}
                        <span>
                          <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                        </span>
                        {% endunless %}
                        {% endfor %}
                      </p>
                      {% endif %}
                    </div>
                    {% endif %}

                    <div class="meta">
                      {% if section.settings.display_social_buttons %}
                      {% include "social-buttons" with "product" %}
                      {% endif %}
                    </div>
                  </div>
                </div>


                {% if product.description contains "<!-- split -->"  %}
                <br class="clear" />
                <div class="section clearfix">
                  <div class="description">
                    {{ product.description | split: '<!-- split -->' | last }}
                  </div>
                </div>
                {% endif %}
          
                {% if product.metafields.stamped.badge != blank and product.metafields.stamped.reviews != blank and product.metafields.stamped.reviews_count != "0" %}
                <div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"> {{ product.metafields.stamped.reviews }} </div>
                {% endif %}

                {% comment %}{% if settings.enable_shopify_review_comments and settings.review_position == "below_gallery" %}
                <div class="shopify-reviews">
                  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                </div>
                {% endif %}{% endcomment %}
              </div>

              {% if sidebar %}

              {% if section.settings.display_related_products %}
              {% include 'related-products' %}
              {% endif %}
              {% if section.settings.display_recently_viewed %}
              {% include 'recently-viewed' %}
              {% endif %}

            </div>
          </div>
        </div>

        {% else %}

      </div>
    </div>
  </div>

<!--Yotpo Instagram slider for specific products  -->

  
<!--En Yotpo Instagram slider for specific products  -->

<!--  Product Footer Icon  -->  

<div style="clear:both;"></div>
<!-- End Product Footer Icon  -->


<!-- Yotpo Review Section -->      
  
  <!--End Yot-->
        </div>
    
       </div>
  
  </div>
<!-- Product Shipping icons -->
<div class="container">
    <div id="product-detail-section-tiles">
<!--       <h2>{% if section.settings.product_icon_title != blank %} {{section.settings.product_icon_title}} {%endif%}</h2> -->
      <ul class="clearfix">
        <li>
          {% if section.settings.product_icon1_img != blank %} {{ section.settings.product_icon1_img | img_url:"master" | img_tag : 'All natural ingredients'  }}
          <p>{% if section.settings.product_icon1_title != blank %}{{section.settings.product_icon1_title}}{%endif%}</p> 
          {% endif %}
        </li>
        <li>
          {% if section.settings.product_icon2_img != blank %} {{ section.settings.product_icon2_img | img_url:"master" | img_tag : 'Gluten Free' }}
          <p>{% if section.settings.product_icon2_title != blank %}{{section.settings.product_icon2_title}}{%endif%}</p> 
          {% endif %}
        </li>
        <li>
          {% if section.settings.product_icon3_img != blank %} {{ section.settings.product_icon3_img | img_url:"master" | img_tag : 'Reliable 1-3
day delivery'}}
          <p>{% if section.settings.product_icon3_title != blank %}{{section.settings.product_icon3_title}}{%endif%}</p> 
          {% endif %}
        </li>
        <li>
          {% if section.settings.product_icon4_img != blank %} {{ section.settings.product_icon4_img | img_url:"master" | img_tag : 'Free shipping on
orders over £17.99' }}
          <p>{% if section.settings.product_icon4_title != blank %}{{section.settings.product_icon4_title}}{%endif%}</p> 
          {% endif %}
        </li>
        <li class="hide-mobile">
          {% if section.settings.product_icon5_img != blank %} {{ section.settings.product_icon5_img | img_url:"master" | img_tag }}
          <p>{% if section.settings.product_icon5_title != blank %}{{section.settings.product_icon5_title}}{%endif%}</p> 
          {% endif %}
        </li>
      </ul>
    </div>	
  </div>

<!-- Product details sections starts    -->
{% assign additional_details = product.metafields.c_f.additional_details | downcase %}
   	<div class="product-details__blocks clearfix">
      {% if additional_details == "yes" %}
        {% if product.metafields.c_f.product_detail_title != blank %}
      	 <div class="container" >
         
          <div class="sixteen columns center pdp-detail-text">
          
              <h2 class="center">{{ product.metafields.c_f.product_detail_title }}</h2>              
         
            <div class="center">
              <p>{{ product.metafields.c_f.product_detail_subtitle }}</p>
            </div>
          </div>
       </div>
         {% endif %}
        {% if product.metafields.c_f.product_detail_image %}
          <div class="clearfix container">         
            <section class="featured-link--section  featured-link--image "  >
              {% capture image_layout %}
              <div class="featured-link--half featured-link--image">
                <div class="featured-link--wrap">                 
                  <img src="{{ product.metafields.c_f.product_detail_image }}" alt="{{ product.metafields.c_f.product_detail_title }}" >
                </div>
              </div>
              {% endcapture %}           
              {{ image_layout }}
              <div class="featured-link--half">
                <div class="info text-align--center">
                  {% if product.metafields.c_f.product_detail_info != blank %}
                  <div class="description">{{ product.metafields.c_f.product_detail_info }}</div>
                  {% endif %}
                  {% if product.metafields.c_f.product_detail_button_link != blank and product.metafields.c_f.product_detail_button_name != blank %}
                  <a href="{{ product.metafields.c_f.product_detail_button_link }}"  class="action_button">
                    {{ product.metafields.c_f.product_detail_button_name  }}
                  </a>
                  {% endif %}               
                </div>
              </div>
            </section>
          </div>
        {% endif %}
      {% endif %}
    {% for block in section.blocks %}   

      {% if block.type == 'divider' %}
        <div class="container" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
          <div class="sixteen columns">
            <hr class="page-divider {% if block.settings.divider_border %}active-divider{% endif %}" style="{% if block.settings.divider_spacing %}margin: {{ block.settings.divider_spacing }}px 0px;{% endif %}">
          </div>
        </div>
      {% endif %}

      {% if block.type == 'image_with_text_overlay' %}

        {% assign default = '1400x' %}
        {% assign size1 = '480x' %}
        {% assign size2 = '765x' %}
        {% assign size3 = '900x' %}
        {% assign size4 = '1000x' %}
        {% assign size5 = '1100x' %}
        {% assign size6 = '1300x' %}
        {% assign size7 = '1500x' %}
        {% assign size8 = '1700x' %}
        {% assign size9 = '1900x' %}
        {% assign size10 = '2000x' %}

        <div id="banner-{{section.id}}" class="banner" {{ block.shopify_attributes }}>
          {% if block.settings.image != nil %}
            <img  src="{{ block.settings.image | img_url: '100x', format: 'pjpg' }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  class="lazyload {{ settings.image_loading_style }}"
                  sizes="100vw"
                  data-src="{{ block.settings.image | img_url: default, format: 'pjpg' }}"
                  srcset="
                  {{ block.settings.image | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
                  {{ block.settings.image | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"

                   />
          {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
          {% endif %}
          {% unless block.settings.button1_link != blank and block.settings.button2_link != blank %}
            {% if block.settings.button1_link != blank %}
              <a href="{{ block.settings.button1_link }}" class="banner-full-link">
                {{ block.settings.title }}
              </a>
            {% elsif block.settings.button2_link != blank %}
              <a href="{{ block.settings.button2_link }}" class="banner-full-link">
                {{ block.settings.title }}
              </a>
            {% endif %}
          {% endunless %}
          {% unless block.settings.pretext == blank and block.settings.title == blank and block.settings.subtitle == blank and block.settings.button1 == blank and block.settings.button2 == blank %}
            <div class="position-{{ block.settings.text_position }} caption js-caption">
              <div class="caption-content caption-background-{{ block.settings.caption_background }} caption-transparency-{{ block.settings.caption_background_transparency }} align-{{block.settings.text_align }}">
                {% if block.settings.pretext != blank %}
                  <div class="pretext">
                    {{ block.settings.pretext }}
                  </div>
                {% endif %}
                {% if block.settings.title != blank %}
                  <p class="headline">
                    {{ block.settings.title }}
                  </p>
                {% endif %}
                {% if block.settings.subtitle != blank %}
                  <div class="subtitle">
                    {{ block.settings.subtitle }}
                  </div>
                {% endif %}
                {% if block.settings.button1 != blank %}
                  <a {% if block.settings.button1_link != blank %}href="{{ block.settings.button1_link }}"{% endif %} class="action_button first_button highlight-{{ block.settings.button1_highlight }}">
                    {{ block.settings.button1 }}
                  </a>
                {% endif %}
                {% if block.settings.button2 != blank %}
                  <a {% if block.settings.button2_link != blank %}href="{{ block.settings.button2_link }}"{% endif %} class="action_button second_button highlight-{{ block.settings.button2_highlight }}">
                    {{ block.settings.button2 }}
                  </a>
                {% endif %}
              </div>
            </div>
          {% endunless %}
        </div>
      {% endif %}

    {% endfor %}
  </div>
	<!-- Product details sections ends    -->
 
        
       <!-- errro div -->

      {% if section.settings.display_related_products %}
        {% include 'related-products' %}
      {% endif %}
      {% if section.settings.display_recently_viewed %}
        {% include 'recently-viewed' %}
      {% endif %}

    {% endif %}

<style>
  .thanks_wrapper p {
    margin-top: 10px !important;
  }

  .thanks_wrapper h2 {
    color: #202765;
  }

  .thanks_wrapper {
    text-align: left;
    margin: 0 auto;
    max-width: 90%;
    margin: 20px auto 0;
  }
  .datepicker_wrapper>span {
    position: absolute;
    right: 15px;
    top: 5px;
  }

  .datepicker_wrapper {
    position: relative;
  }
  span.required {
    color: #f74661;
  }
  label.error {
    color: red;
    font-size: 12px !important;
    margin-bottom: 15px;
  }

  input.error {
    margin-bottom: 0;
  }
  .product-details__blocks {
    margin-bottom: 50px;
  }
  span.color_grey{color:#bdbdbd !important;}

  .gallery-wrap {
    margin-top: 15px;
}
  .yotpo.bottomLine.yotpo-small {
    width: initial;
    display: inline-block;
  }
	a.breadcrumbs__current {color: #444;}
  .product_section .yotpo {
    clear: both;
    float: right;
    margin-top: 6px;
    margin-left: 10px;
  }
  .breadcrumbs {
    border-bottom: 1px solid #f7f8f9;
    padding: 7px 0;
    background: #f8f8f8;
    color: #b3b3b3;
    font-size: .9em;
    margin-top:120px;
    
  }
  .breadcrumbs__inner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h1.product_name{
    margin:5px 0 20px 0 !important;
    font-family: 'ClarendonBT-Roman';
    font-size: 25px;
    letter-spacing: normal;
    line-height: 1.2em;
  }
  .was_price{font-size:12px;}
  .price-percent-off{text-transform: none;color: #000;font-size:16px;}
  .sale span.was_price { font-size: 16px !important; font-weight:400; }
  .current_price .money{font-weight:500;}
  .price-percent-off{font-weight:400 !important; }
  .yotpo-nav-content{display:block;}
  @media screen and (min-width:768px) and (max-width:998px){
    .soldout-badge{left:0 !important;}
  
  }
   @media screen and (min-width:320px) and (max-width:768px)
  {
    #pagecontent{display:none !important;}
   
    #shopify-section-product-template{overflow:hidden !important;}
  }
  .yotpo-icon-btn:hover .yotpo-icon {color:#fff !important;}
  
  .thumbnail:nth-child({{ section.settings.products_per }}n+1) {
    clear: both;
}

  
</style> 

{% schema %}

{
  "name": "Product",
  "class": "product-template product1",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
	{
        "type": "checkbox",
        "id": "video_looping",
        "label": "Enable video looping",
        "default": false
    },
    {
      "type": "header",
      "content": "Product info"
    },
	{
      "type": "url",
      "id": "product_info_link",
      "label": "Download more information Link"
    },
	{
      "type": "text",
      "id": "product_info_title",
      "label": "Title of more information Link",
	  "default":"Technical Specification"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    },
	{
    "type": "header",
    "content": "Product Description Tabs",
	"info":"Product wise extra description are added from custom meta field"
    },
	{
      "type": "checkbox",
      "id": "enable_desc_tabs",
      "label": "Toggle description tabs",
      "default": false
    },
    {
    "type": "text",
    "id": "tab2_title",
    "label": "Extra Tab 2 Title",
    "default": "Ingredients"
    },
	{
    "type": "text",
    "id": "tab3_title",
    "label": "Extra Tab 3 Title",
    "default": "Allergens"
    },
	{
    "type": "text",
    "id": "tab4_title",
    "label": "Extra Tab 4 Title",
    "default": "Nutritional"
    },
    {
    "type": "header",
    "content": "Product Icon Setting"
    },
    {
    "type": "text",
    "id": "product_icon_title",
    "label": "Title",
    "default": "Why Shop at Popcorn?"
    },
    {
    "type": "image_picker",
    "id": "product_icon1_img",	   
    "label": "Icon Image 1"      
    },
    {
    "type": "text",
    "id": "product_icon1_title",
    "label": "Icon 1 Title",	   
    "default": "100% Satisfaction Guaranteed"
    },
    {
    "type": "image_picker",
    "id": "product_icon2_img",	   
    "label": "Icon Image 2"      
    },
    {
    "type": "text",
    "id": "product_icon2_title",
    "label": "Icon 2 Title",	   
    "default": "100% Satisfaction Guaranteed"
    },
    {
    "type": "image_picker",
    "id": "product_icon3_img",	   
    "label": "Icon Image 3"      
    },
    {
    "type": "text",
    "id": "product_icon3_title",
    "label": "Icon 3 Title",	   
    "default": "100% Satisfaction Guaranteed"
    },
    {
    "type": "image_picker",
    "id": "product_icon4_img",	   
    "label": "Icon Image 4"
    },
    {
    "type": "text",
    "id": "product_icon4_title",
    "label": "Icon 4 Title",	   
    "default": "100% Satisfaction Guaranteed"
    },
    {
    "type": "image_picker",
    "id": "product_icon5_img",	   
    "label": "Icon Image 5"
    },
    {
    "type": "text",
    "id": "product_icon5_title",
    "label": "Icon 5 Title",	   
    "default": "100% Satisfaction Guaranteed"
    },
	{
          "type": "text",
          "id": "form_name",
		  "label": "Form Name",
		  "default": "create a reminder for personalised happy birthday medium tin chocolates"
    },
	{
          "type": "text",
          "id": "form_subtitle",
          "label": "Form Subtitle",
          "default": "Not ready to buy? Too early? Not sure? Just pop your details here and we'll send you an email reminder in plenty of time"
    }
	
  ],
 "blocks": [
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add spacing in between your sections by using a divider."
        },
        {
          "type": "range",
          "id": "divider_spacing",
          "min": 0,
          "max": 30,
          "step": 5,
          "unit": "px",
          "label": "Spacing",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "divider_border",
          "label": "Show border",
          "default": false
        }
      ]
    },
    {
      "type": "image_gallery",
      "name": "Image gallery",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_detail_image_1",
          "label": "Image 1",
          "info": "760 x 500px recommended"
        },
        {
          "type": "image_picker",
          "id": "product_detail_image_2",
          "label": "Image 2",
          "info": "760 x 500px recommended"
        },
        {
          "type": "image_picker",
          "id": "product_detail_image_3",
          "label": "Image 3",
          "info": "760 x 500px recommended"
        }
      ]
    },
    {
      "type": "image_with_text",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "default": "left",
          "options": [
            {
              "value": "right",
              "label": "Image on left"
            },
            {
              "value": "left",
              "label": "Image on right"
            }
          ],
          "default": "right"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senecrutrum eu, nisl.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "frontpage_text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "image_with_text_overlay",
      "name": "Image with text overlay",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 1000px recommended"
        },
        {
          "type": "richtext",
          "id": "pretext",
          "label": "Preheading",
          "default": "<p>This is</p>"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subheading",
          "default": "<p>Customize this section</p>"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display solid text background",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable background transparency"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "button1",
          "label": "First button label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First button link"
        },
        {
          "type": "checkbox",
          "id": "button1_highlight",
          "label": "Highlight first button"
        },
        {
          "type": "text",
          "id": "button2",
          "label": "Second button label"
        },
        {
          "type": "url",
          "id": "button2_link",
          "label": "Second button link"
        },
        {
          "type": "checkbox",
          "id": "button2_highlight",
          "label": "Highlight second button"
        }
      ]
    },
    {
      "type": "rich_text_and_image",
      "name": "Rich text and image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "This is an example headline"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tincidunt. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse potenti.</p>"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "align_left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "default": {
    "settings": {
    },
	 "blocks": [
      {
        "type": "rich_text_and_image",
        "settings": {
          "title": "This is an example headline",
          "content": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tincidunt. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse potenti.</p>",
          "text_alignment": "center",
          "button_label": "Button"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_gallery",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_with_text_overlay",
        "settings": {
          "pretext": "<p>This is</p>",
          "title": "Your Headline",
          "subtitle": "<p>Customize this section</p>",
          "button1": "Button"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_with_text",
        "settings": {
          "layout": "right",
          "title": "Headline",
          "text": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senecrutrum eu, nisl.</p>",
          "button_label": "Button",
          "frontpage_text_align": "left"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      }
    ]
  }
}

{% endschema %}
