
<div class="image-with-text-list step-section">
  <div class="container">
	{%- if section.blocks.size > 0 -%}
      <div class="row align-center">
        {%- for block in section.blocks -%}
          <div class="four columns banner-bottom-stepsection" {{ block.shopify_attributes }}>
            {%- if block.settings.popcorn_heading != blank -%}
                  <h2>{{ block.settings.popcorn_heading }}</h2>
                  {%- endif -%}
               {%- if block.settings.popcorn_image != blank -%}
                  {{ block.settings.popcorn_image | img_url: '100x100', scale: 2 | img_tag: block.settings.popcorn_image.alt }}
               {%- else -%}
                      {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
              {%- if block.settings.popcorn_title != blank -%}
                  <h3>{{ block.settings.popcorn_title }}</h3>
              {%- endif -%}
              {%- if block.settings.popcorn_description != blank -%}
                  {{ block.settings.popcorn_description }}
              {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "class": "section-image-with-text",
  "blocks": [
    {
      "type": "image-with-text",
      "name": "Image With Text",
      "settings": [
        {
				"type": "text",
				"id": "popcorn_heading",
				"label": "Heading"
			},
			{
				"type": "image_picker",
				"id": "popcorn_image",
				"label": "Image"
			},
			{
				"type": "text",
				"id": "popcorn_title",
				"label": "Title"
			},
			{
				"type": "richtext",
				"id": "popcorn_description",
				"label": "Description"
			}
      ]
    }
  ]
}
{% endschema %}